@{
    ViewData["Title"] = "Index";
}
@model HRBoost.UI.Models.VM.YorumVM
<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section dark-background">

    <img src="~/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="data:image/jpeg;base64,@Model.BusinessLogo" class="testimonial-img" alt="Şirket Logosu">
                        <img src="data:image/jpeg;base64,@Model.UserPhoto" class="testimonial-img" alt="Personel Fotoğrafı">
                        <h3>@Model.FirstName @Model.LastName</h3>
                        <h4>@Model.Position</h4>
                        <div class="stars">
                            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                        <p>
                            <i class="bi bi-quote quote-icon-left"></i>
                            <span>
                                @Model.BusinessComment
                            </span>
                            <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->


            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

</section><!-- /Testimonials Section -->
