
@{
    ViewData["Title"] = "EmailSent";
}

<div class="container">
    <section id="contact" class="contact section">
        <div class="col-lg-8">
            <h1>Verification Email Sent</h1>
            <div class="col-lg-8">
                <p>
                    Please very your email adress by clicking to the link that has been sent to your email adress.
                </p>
            </div>
        </div>
    </section>

</div>