@model HRBoost.UI.Models.VM.RegisterVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="row">
        <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Subscription</h2>
        <p>Plan Subscription</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bookmark"></i>
                    </div>
                    <a asp-action="Register" asp-controller="Login" asp-route-SubscriptionName="Free" class="stretched-link">                             
                        <h3>Trial</h3>
                        FREE
                        <h6>15 Days</h6>
                    </a>
                    <p>15 gün için tüm özelliklere sahip olun!</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bookmark-check"></i>
                    </div>
                            <a asp-action="Register" asp-controller="Login" asp-route-SubscriptionName="Monthly" class="stretched-link">
                        <h3>Monthly</h3>
                        149,90€ / per month
                    </a>
                    <p>1 ay boyunca tüm özelliklere sahip olun!</p>
                    <p>(İptal edilmediği sürece aboneliğiniz her ay yenilenir.)</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bookmark-check-fill"></i>
                    </div>
                            <a asp-action="Register" asp-controller="Login" asp-route-SubscriptionName="Yearly" class="stretched-link">
                        <h3>Yearly</h3>
                        1.499,90€ / per year
                    </a>
                    <p>1 yıl boyunca tüm özelliklere sahip olun!</p>
                    <p>(İptal edilmediği sürece aboneliğiniz her yıl yenilenir.)</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-bookmark-star-fill"></i>
                    </div>
                    <a asp-action="Register" asp-controller="Login"  class="stretched-link">
                        <h3>Premium</h3>
                        12.999,90€ / one time
                    </a>
                    <p>Sınırsız süre ile tüm özelliklere sahip olun!</p>
                    <p>(Bir defa abonelik yapılır. Tekrar ödeme yapılmaz.)</p>
                </div>
            </div><!-- End Service Item -->


        </div>

    </div>

</section>
    </div>
</section>

babamı ara