@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model HRBoost.UI.Areas.Admin.Models.VM.UserViewModel

@{
    ViewData["Title"] = "Edit";

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card" style="border-color: #ddd;">
                <div class="card-header" style="background-color: #555; color: #fff;">
                    <h5 class="card-title">Kullanıcı Güncelleme</h5>
                </div>

                <div class="card-body">
                    <form method=post asp-action="Edit" asp-area="Admin" asp-controller="User" role="form">
                        <input asp-for="Id" type="hidden" />

                        <div class="form-group mb-2">
                            <label asp-for="FirstName" class="col-sm-2 control-label">Adı</label>
                            <div class="col-sm-10">
                                <input asp-for="FirstName" class="form-control" placeholder="Adı" type="text" />
                            </div>
                        </div>


                        <div class="form-group mb-2">
                            <label asp-for="LastName" class="col-sm-2 control-label">Soyadı</label>
                            <div class="col-sm-10">
                                <input asp-for="LastName" class="form-control" placeholder="Soyadı" type="text" />
                            </div>
                        </div>


                        <div class="form-group mb-2">
                            <label asp-for="Email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input asp-for="Email" class="form-control" placeholder="Email" type="text" />
                            </div>
                        </div>

                        <div>
                            <label asp-for="Status">Durum</label>
                            <select asp-for="Status">
                                <option value="Active">Aktif</option>
                                <option value="DeActive">Pasif</option>
                                <option value="Pending">Beklemede</option>
                                <option value="Deleted">Silindi</option>
                            </select>
                        </div>

                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <a asp-action="List" asp-controller="User" asp-area="Admin" class="btn btn-secondary">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>