@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<HRBoost.Entity.Expense>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid px-4">
<h1 class="mt-4">Harcamalarim</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">WELCOME</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Harcamalarim</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Expense
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>NAme</th>
                        <th>Description</th>
                        <th>Miktar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expense in Model)
                    {
                        <tr>
                                <td>@expense.Name</td>
                                <td>@expense.Description</td>
                                <td>@expense.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
