@model IEnumerable<HRBoost.Entity.Expense>

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
