@model HRBoost.Entity.Expense

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update</h1>

<form method=post asp-action="Update" asp-area="Personel" asp-controller="Expenses" role="form">
	<div class="panel panel-default">
		<div class="panel-heading"><h6 class="panel-title"><i class="icon-menu"></i> Expense Update</h6></div>
		<div class="panel-body">

			<input asp-for="Id" class="datatable-hidden" />

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<input asp-for="Name" class="form-control" placeholder="Expense Name" type="text" />
				</div>
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Quantity" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<input asp-for="Quantity" class="form-control" placeholder="Expense Quantity" type="text" />
				</div>
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Description" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<input asp-for="Description" class="form-control" placeholder="Expense Description" type="text" />
				</div>
			</div>

			<div class="form-actions text-right">

				<a class="btn btn-dark" asp-action="Index">
					<i class="icon-grid"></i>Back to List
				</a>

				<input type="submit" value="Save" class="btn btn-primary">
			</div>

		</div>
	</div>
</form>