
@model HRBoost.Entity.Role
@{
    ViewData["Title"] = "Add";
}

<form method=post asp-action="Add" asp-area="Admin" asp-controller="Role" role="form">
	<div class="panel panel-default">
		<div class="panel-heading"><h6 class="panel-title"><i class="icon-menu"></i> Role Add</h6></div>
		<div class="panel-body">


			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Name" class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<input asp-for="Name" class="form-control" placeholder="Role Name" type="text"/>
				</div>
			</div>

			<div class="form-actions text-right">

				<a class="btn btn-dark" asp-action="Index">
					<i class="icon-grid"></i>Back to List
				</a>

				<input type="submit" value="Save" class="btn btn-primary">
			</div>

		</div>
	</div>
</form>