@model IEnumerable<HRBoost.Entity.Role>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{
	int sayac = 0;
}
<div class="row">
	<a asp-action="Add" asp-controller="Role" asp-area="Admin" class="btn btn-primary">Role Add</a>
</div>
<div class="panel panel-default">
	<div class="panel-heading"><h6 class="panel-title"><i class="icon-paragraph-justify"></i> Roles </h6></div>
	<div class="datatable">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@(++sayac)</td>
						<td>@item.Name</td>
						<td>
							<a asp-action="Delete" asp-controller="Role" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
							<a asp-action="Update" asp-controller="Role" asp-area="Admin" asp-route-id="@item.Id" class="btn btn-warning">Update</a>

						</td>
					</tr>
				}

			</tbody>
		</table>
	</div>
</div>