@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model HRBoost.Entity.PermissionType


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card" style="border-color: #ddd;">
                <div class="card-header" style="background-color: #555; color: #fff;">
                    <h5 class="card-title">Dosya Türü Güncelle</h5>
                </div>

                <div class="card-body">
                    <form asp-action="Update" method="post">
                        <input asp-for="Id" type="hidden" />

                        <div class="form-group mb-2">
                            <label for="Name" class="form-label">İzin Türü Adı</label>
                            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
                        </div>


                        <div class="form-group mb-2">
                            <label for="Description" class="form-label">Açıklama</label>
                            <textarea class="form-control" id="Description" name="Description" rows="3">@Model.Description</textarea>
                        </div>


                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                            <a asp-action="Index" asp-controller="PermissionType" asp-area="Admin" class="btn btn-secondary">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>